<div ng-controller="CompareCtrl">
    <div class="container-fluid  centered">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row align-middle">
                        <div class="col-md-3">
                            <h4 class="panel-title" style="margin-top: 5px">
                                <a data-toggle="collapse" data-target="#collapse1">Schritt 1: Webseite auswählen</a>
                            </h4>
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            <p style="margin-right: 35%; margin-bottom: 0; margin-top: 4px"><b>{{company}}</b></p>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body" data-toggle="collapse">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 33%">Automatisch extrahiert</th>
                                    <th style="width: 33%"></th>
                                    <th style="width: 33%">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i style="color: #fff"
                                                                               class="glyphicon glyphicon-search"></i></span>
                                            <input ng-model="filterText" type="text" class="form-control"
                                                   placeholder="Filter">
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="s in siteNames| filter: filterText" ng-if="$index % 3 == 0">
                                    <td ng-repeat="i in [$index,$index+1,$index+2]" ng-if="siteNames[i] != null"
                                        ng-click="shut(1);fillDates(siteNames[i].name)">{{siteNames[i].name}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover" ng-if="showOwnTable">
                                <thead>
                                <tr>
                                    <th style="width: 33%">Manuell hochgeladen</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="u in userTexts| filter: filterText" ng-if="$index % 3 == 0">
                                    <td ng-repeat="i in [$index,$index+1,$index+2]" ng-if="userTexts[i] != null"
                                        ng-click="shut(1);fillDates(userTexts[i].link)">{{userTexts[i].link}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row align-middle">
                        <div class="col-md-3" style="margin-top: 5px">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapse2" ng-click="datesPicked = true">Schritt
                                    2: Dokument auswählen</a>
                            </h4>
                        </div>

                        <div class="col-md-4" style="margin-top: 5px" ng-show="isDateOne">
                            <p>1. Dokument: <b>Datum:</b> {{textDateOne}} <a target="_blank"
                                                                             ng-href="{{textLinkOne}}">
                                <b>Original</b></a></p>
                        </div>

                        <div class="col-md-4" style="margin-top: 5px" ng-show="isDateTwo">
                            <p>2. Dokument: <b>Datum:</b> {{textDateTwo}} <a target="_blank"
                                                                             ng-href="{{textLinkTwo}}">
                                <b>Original</b></a></p>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default pull-right" ng-show="datesPicked"
                                    ng-click="shut(2); datesPicked = false">
                                Übernehmen
                            </button>
                        </div>
                    </div>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body" data-toggle="collapse">
                        <div id="visualization"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse3">Schritt 3: Einstellungen</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body" data-toggle="collapse">
                        <div class="btn-group" data-toggle="buttons">
                            <label ng-click="clD()" class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> sentences
                            </label>
                            <label ng-click="clD()" class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> words
                            </label>
                        </div>

                        <button class="btn btn-default navbar-btn" ng-click="shut(3)">
                            Übernehmen
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <button class="btn btn-primary" id="subBtn" type="button" ng-click="diff()"
                    style="background-color: #D5DDF6; outline: none; color: black; border-color: #97B0F8">
                Vergleichen
            </button>
        </div>
    </div>
    <div style="margin-right: 0; margin-left: 0">
        <!-- text fields -->
        <div class="row">
            <div class="col-md-4" ng-show="isTextOneDisplayed">
                <table class="table table-hover">
                    <tr ng-repeat="line in textArrayRight track by $index">
                        <td>{{$index}}</td>
                        <td>{{line}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4" ng-show="isTextOneDisplayed">
                <table class="table table-hover">
                    <tr ng-repeat="line in diffArray track by $index">
                        <td>{{$index}}</td>
                        <td style="color: {{line.color}};">{{line.text}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4" ng-show="isTextOneDisplayed">
                <table class="table table-hover">
                    <tr ng-repeat="line in textArrayLeft track by $index">
                        <td>{{$index}}</td>
                        <td>{{line}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
