<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Privacy Policy Picker</title>

    <!-- css stylesheets -->
    <link rel="stylesheet" href="lib/bower/vis/dist/vis.css" type="text/css">
    <link rel="stylesheet" href="lib/bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">

</head>

<body ng-app="ppp">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="#/compare">Privacy Policy Picker</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a ng-href="#/edit">Edit</a></li>
            <li><a ng-href="#/info"><span class="glyphicon glyphicon-info-sign"></span></a></li>
            <li><a ng-href="#top"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
        </ul>

        <div class="nav navbar-nav navbar-right" ng-controller="IndexCtrl">
            <button class="btn btn-default navbar-btn" ng-if="isLoggedIn" ng-click="logout()">
                <span class="glyphicon glyphicon glyphicon-off"></span>
                Ausloggen
            </button>
            <button class="btn btn-default navbar-btn" ng-if="!isLoggedIn" ng-click="showLogin()">
                <span class="glyphicon glyphicon glyphicon-user"></span>
                Login
            </button>
        </div>
    </div>
</nav>
<div class="container-fluid centered" ng-view></div>

<!-- bower dependencies -->
<script src="lib/bower/angular/angular.js"></script>
<script src="lib/bower/angular-route/angular-route.js"></script>
<script src="lib/bower/jquery/dist/jquery.js"></script>
<script src="lib/bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/bower/angular-cookies/angular-cookies.js"></script>
<script src="lib/bower/jsdiff/diff.js"></script>
<script src="lib/bower/vis/dist/vis.js"></script>

<!-- JavaScript -->
<script src="app.js"></script>
<script src="index-controller.js"></script>
<script src="src/edit/edit.controller.js"></script>
<script src="src/compare/compare.controller.js"></script>
<script src="src/common/data.service.js"></script>
<script src="src/common/login.service.js"></script>

</body>
</html>
