<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Privacy Policy Picker</title>

    <!-- css stylesheets -->
    <link rel="stylesheet" href="lib/bower/vis/dist/vis.css" type="text/css">
    <link rel="stylesheet" href="lib/bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">

</head>

<body ng-app="ppp">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="#/compare">Privacy Policy Picker</a>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-controller="IndexCtrl">
            <li ng-if="isLoggedIn"><a ng-href="#/upload"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
            <li ng-if="isLoggedIn" ng-click="showModal('userEdit')"><a><span class="glyphicon glyphicon-user"></span> {{userName}}</a></li>
            <li ng-if="isLoggedIn" ng-click="logout()"><a><span class="glyphicon glyphicon-log-out"></span> Ausloggen</a></li>
            <li ng-if="!isLoggedIn" ng-click="showModal('login')"><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid centered" ng-view></div>

<!-- bower dependencies -->
<script src="lib/bower/angular/angular.js"></script>
<script src="lib/bower/angular-route/angular-route.js"></script>
<script src="lib/bower/jquery/dist/jquery.js"></script>
<script src="lib/bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/bower/angular-cookies/angular-cookies.js"></script>
<script src="lib/bower/jsdiff/diff.js"></script>
<script src="lib/bower/vis/dist/vis.js"></script>
<script src="lib/bower/angular-file-upload/dist/angular-file-upload.js"></script>
<script src="lib/bower/angular-local-storage/dist/angular-local-storage.js"></script>

<!-- JavaScript -->
<script src="app.js"></script>
<script src="index-controller.js"></script>
<script src="src/upload/upload.controller.js"></script>
<script src="src/compare/compare.controller.js"></script>
<script src="src/common/data.service.js"></script>
<script src="src/common/login.service.js"></script>

</body>
</html>
