body {
    position: relative;

}

textarea {
    resize: none;
}
.navbar-btn {
    margin-right: 10%;
}
.glyphicon-ok{
    color: #23b323;
}
.checked{
    background-color: #ccfdcc;
}

.view {
    overflow-y: scroll;
}

.navbar-right button {
    margin-right: 10px;
}

.centered {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
}

.my-drop-zone {
    border: dotted 2px lightgray;
}

li a:hover {
    cursor:pointer;
}